.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.container:hover {
  cursor: pointer;
  opacity: .7;
}

.text {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 14px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}